.image-header {
  width: 100%;
  height: 500px;
  position: relative;
}
.image-header {
  height: 80vh;
  /* clip: rect(100px, 200px, 300px, 400px); */
  /* clip: rect(0, 1980px, 500px, 0); */
}

.image-mask {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.image-mask h1 {
  font-size: 150px;
  font-weight: bold;
  text-align: center;
}

.background {
  height: 100%;
}
.image-mask h1 {
  background: radial-gradient(
    circle,
    #d9ed92 0%,
    #99d98c 20%,
    #52b69a 40%,
    #168aad 60%,
    #1e6091 100%
  );
  font-size: 100px;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: gradient 10s linear infinite alternate;
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  font-size: 150px;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
.card-container {
  height: 600px;
  background-color: transparent; /* #90be6d;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.sup-triangle {
  height: 100px;
  width: 100%;
  background-color: #048ba8;
  border: none;
  margin: none;
  padding: none;
  clip-path: polygon(0 100%, 0 0, 100% 100%);
}
.description-homepage {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-title h2 {
  /* border-top: 5px solid black;
  border-bottom: 5px solid black; */
  color: #fff;
  /* background-color: cyan; */
  text-align: center;
  width: 100%;

  font-size: 100px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}
.flex-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container2 {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-bottom: 50px;
}
.card-element {
  flex: 1;
}
