@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap");
.navbar {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #76c893;
  color: white;
  width: 100%;
}
.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
}
.navbar li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  text-decoration: none;
  list-style: none;
  transition: 0.4s ease-in;
  cursor: pointer;
}
.navbar li:hover {
  background-color: #72efdd;
}
.dropdown ul {
  display: flex;
  flex-direction: column;
}
.logo {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}
